# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large files / Data (Optional: usually ignored, but keep if part of demo)
# data/database_images/
# model/feature_db*.pkl
